*,
*::before,
*::after {
    box-sizing: border-box
}

img{
    margin-bottom: 0;
}

body,
.body {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
    max-width: 100%;
    padding-left: 0; 
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin: auto;
}

.logo span {
    color: #2E2F42;
}

nav {
    display: flex;
    align-items: center;
}
.nav-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
    align-items: center;
    

    
}

.nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}


.nav-list:hover,
.nav-list:focus {
    color: #404BBF;
}

.address-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
    align-items: center;
    margin: auto;
    
}

.address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    white-space: nowrap;
}

.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 24px 156px;
}

.address-list:hover,
.address-list:focus {
    color: #404BBF;
}


.container-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px; 
    width: 100%;
}
    


.titel-one {
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    
    
}

.button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    margin: auto;
    padding: 16px 32px;
    border-radius: 4px;
    
    
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}
.titel-two {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.titel-two-hidden {
    display: none;
}

.section-two-list {
 list-style-type: none;
 display: flex;
 gap: 24px;
 padding: 120px 156px;
}

.section-two-list-item {
    width: calc(100% - 3 * 24px) / 4;
}

.titel-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.paragraph {
    font-size: 16px;
    letter-spacing: 0.02em;
}



.body-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.section-one {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 292px;
    width: 100%;
}

footer {
    background-color: #2E2F42;
}

.section-three {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}


.section-three-list-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: calc(100% - 3 * 24px) / 4;
}

.section-three-list-item-text {
    text-align: center;
    padding: 32px 64px;
    column-gap: 8px;
    
}

.section-three-list{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 48px 24px;
    margin: 72px 156px 120px ;
}

.section-four-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.section-four-list-item: {
    width: calc(100% - 5 * 24px) / 6;
    border-width: 0 1px 1px 1px;
}

.section-four {
    padding: 120px 156px;
}

.footer span {
    color: #f4f4fd;
}

.footer {
    padding-top: 100px;
    padding-left: 156px;
    padding-bottom: 100px;
}

.body-footer {
    width: 264px; 
}

